*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}

body {
    background-color: #ffffff;}

section {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100vw;
    margin-top: 20px;
}

.contenedorBoton {
    padding-left: 20px;
    align-items: center;
}

.boton {
    border: none;
    background-color: #abbdeb;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
}

.contenedor {
    background-color: #abbdeb;
    border: 1px sol #ddd;
    height: 415px;
    width: 400px;
    min-height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 50px;
    box-sizing: border-box;
    align-items: center;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.247);
    margin:  auto;
    align-items: center;
    text-align: center;
}

.form {
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}

input {
    margin-top: 10px;
    align-content: center;
}

label {
    margin-right: 8px;
    align-items: center;
    color: #100101;
}

textarea {
    margin-top: 10px;
}

h1, h3 {
    color: #000707;
}

p {
    color: #0a0101;
}

.politicas {
    margin-top: 20px;
}

.contenedor2 {
    background-color: #abbdeb;
    border: 1px sol rgb(4, 0, 0);
    height: 250px;
    width: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 50px;
    box-sizing: border-box;
    align-items: center;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.247);
    margin:  auto;
    align-items: center;
    text-align: center;
}

span {
    color: rgb(168, 255, 5);
}